html {
  background-color: #000000 !important;
  color: inherit;
}

.thumb-img {
  border-color: #000000 !important;
}

#loupeContainer div.background {
  background-color: #000000 !important;
  color: inherit;
}

header div.background {
  background-color: #000000 !important;
  color: inherit;
}

.custom-colorable {
  fill: #A0A0A0 !important;
}

body {
  background-image: url(../background-1.png);
  background-size: 500px;
  background-color: black;
  color: #d05c35 !important;
}
